{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block  -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<!-- <div class="container"> -->
    <marquee scrollamount="30"> <h1>WELLCOME TO NEWS CENTER,THE BEST NEWS CENTER AND THE SOURCE ACCROSS THE BOARD</h1></marquee>
    <form class='input'>
        <input type="text" name="news_query" placeholder="Search for a news" class="form-control">
        <input type="submit" value="Submit" class="btn btn-default">
    </form>

    <div class="row">
        <div class="col-md-3">
            <h3> Business News</h3>
            {{ macro.displayNewsList(business)}}
        </div>
        <div class="col-md-3">
            <h3>Sports News</h3>
            {{ macro.displayNewsList(sports)}}
        </div>
        <div class="col-md-3">
            <h3> Technology News</h3>
            {{ macro.displayNewsList(technology)}}
        </div>
        <div class="col-md-3">
            <h3> General News</h3>
            {{ macro.displayNewsList(general)}}
        </div>
        <div class="col-md-6">
            <h3> Entertaintment</h3>
            {{ macro.displayNewsList(general)}}
        </div>
        <div class="col-md-3">
            <h3>Health </h3>
            {{ macro.displayNewsList(general)}}
        </div>
        <div class="col-md-3">
            <h3> Science</h3>
            {{ macro.displayNewsList(general)}}
        </div>
    </div>
<!-- </div> -->

{% endblock %}