{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block  -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lobster:200,400,700" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- <div class="container"> -->
    <marquee scrollamount="25"> <h1>WELLCOME TO NEWS CENTER,THE BEST NEWS CENTER  ACCROSS THE BOARD</h1></marquee>
    <form class='input'>
        <input type="text" name="news_query" placeholder="Search for a news" class="form-control">
        <button  class="btn btn-primary"><span><i class="fas fa-search"></i></span></button>
    </form>

    <div class="row">
        <div class="col-md-3">
            <h2> Business News</h2>
            {{ macro.displayNewsList(business)}}
        </div>
        <div class="col-md-3">
            <h2>Sports News</h2>
            {{ macro.displayNewsList(sports)}}
        </div>
        <div class="col-md-3">
            <h2> Technology News</h2>
            {{ macro.displayNewsList(technology)}}
        </div>
        <div class="col-md-3">
            <h2> General News</h2>
            {{ macro.displayNewsList(general)}}
        </div>
        <div class="col-md-6">
            <h2> Entertaintment</h2>
            {{ macro.displayNewsList(entertaintment)}}
        </div>
        <div class="col-md-3">
            <h2>Health </h2>
            {{ macro.displayNewsList(health)}}
        </div>
        <div class="col-md-3">
            <h2> Science</h2>
            {{ macro.displayNewsList(science)}}
        </div>
    </div>
<!-- </div> -->

{% endblock %}