{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block  -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=lobster">
{% endblock %}

{% block content %}
<!-- <div class="container"> -->
    <marquee scrollamount="25"> <h1>WELLCOME TO NEWS CENTER,THE BEST NEWS CENTER AND THE SOURCE ACCROSS THE BOARD</h1></marquee>
    <form class='input'>
        <input type="text" name="news_query" placeholder="Search for a news" class="form-control">
        <button  class="btn btn-primary"><span><i class="fas fa-search"></i></span></button>
    </form>

    <div class="row">
        <div class="col-md-3">
            <h3> Business News</h3>
            {{ macro.displayNewsList(business)}}
        </div>
        <div class="col-md-3">
            <h3>Sports News</h3>
            {{ macro.displayNewsList(sports)}}
        </div>
        <div class="col-md-3">
            <h3> Technology News</h3>
            {{ macro.displayNewsList(technology)}}
        </div>
        <div class="col-md-3">
            <h3> General News</h3>
            {{ macro.displayNewsList(general)}}
        </div>
        <div class="col-md-6">
            <h3> Entertaintment</h3>
            {{ macro.displayNewsList(entertaintment)}}
        </div>
        <div class="col-md-3">
            <h3>Health </h3>
            {{ macro.displayNewsList(health)}}
        </div>
        <div class="col-md-3">
            <h3> Science</h3>
            {{ macro.displayNewsList(science)}}
        </div>
    </div>
<!-- </div> -->

{% endblock %}