{% macro displayNewsList(news_list) %}

{% for source in news_list %}

<li class="list-group-item disabled" style="font-size:x-large">
    <a href="/headlines/{{ source.id }}">
        {{ source.name }}</a>
</li>

{% endfor %}

{% endmacro %}


{% macro displayHeadlinesList(headlines_list) %}

{% for headline in headlines_list %}

<li>
    <img src="{{ headline.urlToImage }}">
    <h4> {{ headline.title}} </h4>
    <p>{{ headline.description }}</p>
    <p>Published {{ headline.publishedAt }}</small></p>
    <a href="{{ headline.url }}" class="btn btn-primary">FULL STORY</a>
</li>
{% endfor %}

{% endmacro %}
