{% macro displayNewsList(news_list) %}

{% for source in news_list %}

<li class="list-group-item">
    <a target="_blank" href="/headlines/{{ source.id }}">
        {{ source.name }}</a>
</li>

{% endfor %}

{% endmacro %}


{% macro displayHeadlinesList(headlines_list) %}

{% for headline in headlines_list %}

<li>
    <img src="{{ headline.urlToImage }}" alt="Card image cap" style='object-fit:cover; width: 300px;height: 337px;'>
    <h4> {{ headline.title}} </h4>
    <p>{{ headline.description }}</p>
    <p>Published {{ headline.publishedAt }}</small></p>
    <a target='_blank' href="{{ headline.url }}" class="btn btn-primary">View Full Story</a>
</li>
<br>

{% endfor %}

{% endmacro %}